<form action="/createBranch" method="POST">
  <select name="Location" placeholder="Location">
     
  <option value="Vasai">Vasai</option>
  <option value="Nalasophara">Nalasophara</option>
  <option value="Virar">Virar</option>
  <option value="Vaitarna">Vaitarna</option>
  <option value="Saphale">Saphale</option>
  <option value="Kelva Road">Kelva Road</option>
  <option value="Palghar">Palghar</option>

</select>

  <input type="text" name="BranchName" placeholder="Branch Name">
  <input type="number" name="TotalSeats" placeholder="Total Seats">
  <button>Submit</button>
</form>