<% include ./partials/header %>

      
        <div class="col col-xl-9 col-lg-10 col-md-9 col-sm-9 col-xs-12" style="background-color:;
                                                                            height:1200px;
                                                                            float:right;
                                                                            font-family: 'Cabin', sans-serif;
                                                                           ">
         
      <div class="col col-xl-2 col-lg-2 col-md-9 col-sm-9 col-xs-12" style="background-color:white;position: fixed;
      left: 270px;
      top: 100px">      
<ul style="list-style-type: none;text-align:center;width:200px;margin-left:-50px">
  
  
  
   <a class="list-group-item"  href="/homepage"><li >All Stations</li></a>
  <a class="list-group-item <%if(location=="Vasai"){%>active<%}%>" href="/branches/Vasai"><li>Vasai</li></a>
  <a class="list-group-item <%if(location=="Nalasophara"){%>active<%}%>" href="/branches/Nalasophara"><li >Nalasophara</li></a>
  <a class="list-group-item <%if(location=="Virar"){%>active<%}%>" href="/branches/Virar"><li >Virar</li></a>
  <a class="list-group-item <%if(location=="Vaitarna"){%>active<%}%>" href="/branches/Vaitarna"><li >Vaitarna</li></a>
  <a class="list-group-item <%if(location=="Saphale"){%>active<%}%>" href="/branches/Saphale"><li ></li>Saphale</a>
  <a class="list-group-item <%if(location=="KelvaRoad"){%>active<%}%>" href="/branches/KelvaRoad"><li >Kelva Road</li></a>
  <a class="list-group-item <%if(location=="Palghar"){%>active<%}%>" href="/branches/Palghar"><li >Palghar</li></a>
    
            
</ul>
        
      </div>
 
          
          
      
          <div class="col col-xl-10 col-lg-10 col-md-9 col-sm-9 col-xs-12"
               style="background-color:white;height:100%;text-align:center;float:right;"> 
          
<%branches.forEach(function(branch){%>
            
 <div class="col col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12">
    
    <div style="border:solid 1px #ccc;margin-top:20px;">
      <i class="fa fa-university" style="font-size:70px;margin-top:50px"></i>
         <p><strong style="color:black;font-size:20px">
      <%=branch.BranchName%></strong></p><br>
    <span style="font-size:17px">
      <span style="color:blue">Location : </span><%=branch.Location%></span><br><br><br>
    
    <span style="font-size:15px">
      <span style="color:green">Vacancy : </span>Not Available</span>
    </div>
 
        </div> 
<%})%>
      </div>
    </div>
    
    
  </body>
  
</html>

 




