<% include ./partials/header %>

      
        <div class="col col-xl-9 col-lg-10 col-md-9 col-sm-9 col-xs-12" style="background-color:;
                                                                            height:1200px;
                                                                            float:right;
                                                                            font-family: 'Cabin', sans-serif;
                                                                           ">
         
      <div class="col col-xl-2 col-lg-2 col-md-9 col-sm-9 col-xs-12" style="background-color:white;position: fixed;
      left: 270px;
      top: 10px">      
<ul style="list-style-type: none;text-align:center;width:250px;margin-left:-30px;font-size: 16px">
  
  
  
   <a style="border-radius: 0px;
  margin-bottom:20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2)" class="list-group-item"  href="/homepage"><li >All Stations</li></a>
  <a style="border-radius: 0px;
  margin-bottom:20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2)" class="list-group-item <%if(location=="Vasai"){%>active<%}%>" href="/branches/Vasai"><li>Vasai</li></a>
  <a style="border-radius: 0px;
  margin-bottom:20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2)" class="list-group-item <%if(location=="Nalasopara"){%>active<%}%>" href="/branches/Nalasopara"><li >Nalasophara</li></a>
  <a style="border-radius: 0px;
  margin-bottom:20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2)" class="list-group-item <%if(location=="Virar"){%>active<%}%>" href="/branches/Virar"><li >Virar</li></a>
  <a style="border-radius: 0px;
  margin-bottom:20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2)" class="list-group-item <%if(location=="Boisar"){%>active<%}%>" href="/branches/Boisar"><li >Boisar</li></a>
  <a style="border-radius: 0px;
  margin-bottom:20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2)" class="list-group-item <%if(location=="Dahanu"){%>active<%}%>" href="/branches/Dahanu"><li ></li>Dahanu</a>
  <a style="border-radius: 0px;
  margin-bottom:20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2)" class="list-group-item <%if(location=="Palghar"){%>active<%}%>" href="/branches/Palghar"><li >Palghar</li></a>
  <a style="border-radius: 0px;
  margin-bottom:20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2)" class="list-group-item <%if(location=="Jawahar"){%>active<%}%>" href="/branches/Jawahar"><li >Jawahar</li></a>
    
            
</ul>
        
      </div>
 
          
          
      
          <div class="col col-xl-10 col-lg-10 col-md-9 col-sm-9 col-xs-12"
               style="background-color:white;height:100%;text-align:center;float:right;"> 
          
<%branches.forEach(function(branch){%>
            
 <div class="col col-xl-12 col-lg-12 col-md-4 col-sm-6 col-xs-12">
    
    <div style="border:solid 1px #ccc;margin-top:50px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
      <div style="background: url(<%=branch.BranchPhoto%>);
     height: 500px;width: 100%;background-size: cover;"></div>
         <p><strong style="color:black;font-size:20px">
      <%=branch.BranchName%></strong></p><br>
    <span style="font-size:17px">
      <span style="color:blue">Location : </span><%=branch.Location%></span><br><br><br>
    
    <span style="font-size:15px">
      <span style="color:green">Vacancy : </span>Not Available</span>
    </div>
 
        </div> 
<%})%>
      </div>
    </div>
    
    
  </body>
  
</html>

 




