 <a style="border-radius: 0px" href="/branchMap" type="button" class="btn btn-primary btn-lg">Branch Map <i class="fa fa-arrow-left"i></a>
 	<a style="border-radius: 0px" href="/login" type="button" class="btn btn-primary btn-lg">Login</a>


